.profile__information {
  position: relative;
  width: 120px;
  height: 120px;
  margin-right: 25px;
}

.profile__information:hover .profile__background {
  cursor: pointer;
  opacity: 1;
  transition: .1s linear;
}

.profile__information:hover .profile__avatar {
  opacity: .3;
  transition: .1s linear;
}
